body {
  font-family: Calibri, sans-serif;
  font-size: 2vw;
}
a {
  font-family: Calibri, sans-serif;
  font-size: 2vw;
  text-decoration: none;
  color: black;
}
.my_container {
  display: flex;
  flex-direction: row;
  height: 10vh;
  margin-bottom: 10vh;
}
.gallery {
  margin: auto;
  position: relative;
  height: 80vh;
  width: 80vw;
}
.centered{
  top: 50%;
}
.slides img {
  display: block;
  width: 50%;
  margin: auto;
}
.gslides img {
  position: relative;
  height: 70vh;
  width: 70vw;
  top: 5vh;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.imgText {
  color:#b0b0b0;
  font-family: Times, serif;
  font-size: 0.5em;
  text-align: center;
  line-height: 35px;
}
.name {
  margin-left: 5%;
  margin-right: 40%;
  cursor: pointer;

}
.box {
  margin-right: 3%;
  cursor: pointer;
}
/* slideshow */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
  background-color: rgba(0,0,0,0.4);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* drop down*/
.dropdown{
   margin-right: 3%;
}
.dropbtn {
  font-family: Calibri, sans-serif;
  border: none;
  font-size: 2vw;
  background: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #232323;
  min-width: 100px;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}
/* media query*/


