body{
  font-family: Helvetica,sans-serif;
  font-size: 30px;
}
.my_container{
  display: flex;
  flex-direction: row;
}
.name {
  background: white;
  width: 300px;
}
.box1 {
  background: pink;
  width: 300px;
}

.box2 {
  background: lightgreen;
  width: 300px;
}

.box3 {
  background: lightblue;
  width: 300px;
}
.box4 {
  background: yellow;
  width: 300px;
}
.box5 {
  background: orange;
  width: 300px;
}
