body {
  font-family: Helvetica, sans-serif;
  font-size: 2vw;
}
a{
  font-family: Helvetica, sans-serif;
  font-size: 2vw;
  text-decoration: none;
  color: black;
}
.my_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 8vh;
}
.gallery {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}


.slides img {
  display: block;
  width: 90%;
  margin: auto;
}
.gslides img {
  width: 100%;
}
.imgText{
  font-family: Times, serif;
  font-size: 0.75vw;
  text-align: center;
}
 .name {
  margin-left: 5%;
  margin-right: 35%;
}
.box {
  margin-right: 3%;
}
@media(max-width: 500px){
  body {
  font-family: Helvetica, sans-serif;
  font-size: 3vw;
}
  a{
  font-family: Helvetica, sans-serif;
  font-size: 3vw;
  text-decoration: none;
  color: black;
}
    .gallery{
      display: flex;
      flex-direction: column;
    }
  .name {
  margin-left: 3%;
  margin-right: 15%;
}
.box {
  margin-right: 3%;
}
}
